<div class="ui-modal">
  <h1 mat-dialog-title>{{ patient ? "Editar" : "Adicionar" }} paciente</h1>

  <div mat-dialog-content>
    <form class="form" [formGroup]="form">
      <div class="form__row">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input
            required
            matInput
            formControlName="name"
            name="name"
            placeholder="Nome"
          />
          <mat-error
            id="name-required"
            *ngIf="form.controls['name'].hasError('required')"
            >Nome é obrigatório
          </mat-error>
          <mat-error
            id="name-minlength"
            *ngIf="form.controls['name'].hasError('minlength')"
            >Nome deve possuir no mínimo 3 caracteres</mat-error
          >
          <mat-error
            id="name-maxlength"
            *ngIf="form.controls['name'].hasError('maxlength')"
            >Nome deve possuir no máximo 40 caracteres</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Usuário</mat-label>
          <input
            required
            matInput
            formControlName="username"
            name="username"
            placeholder="Usuário"
          />
          <mat-error
            id="name-required"
            *ngIf="form.controls['username'].hasError('required')"
            >Usuário é obrigatório
          </mat-error>
          <mat-error
            id="name-minlength"
            *ngIf="form.controls['username'].hasError('minlength')"
            >Usuário deve possuir no mínimo 3 caracteres</mat-error
          >
        </mat-form-field>
      </div>

      <div class="form__row">
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input
            required
            matInput
            placeholder="E-mail"
            formControlName="email"
            name="email"
          />

          <mat-error
            id="name-required"
            *ngIf="form.controls['email'].hasError('required')"
            >E-mail é obrigatório
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Botões -->
      <div class="buttons">
        <ng-container *ngFor="let button of buttonConfig; index as i">
          <app-button
            [disabled]="i === 1 && form.invalid"
            [buttonConfig]="button"
            (clickEmitter)="onAction(i)"
          >
          </app-button>
        </ng-container>
      </div>
    </form>
  </div>
</div>
