<div class="ui-modal">
  <h1 mat-dialog-title>Excluir paciente</h1>
  <div mat-dialog-content>
    <div class="data">
      <span><strong>Nome:</strong> {{ patient.name }}</span>
      <span><strong>E-mail:</strong> {{ patient.email }}</span>
    </div>

    <!-- Botões -->
    <div class="buttons">
      <ng-container *ngFor="let button of buttonConfig; index as i">
        <app-button [buttonConfig]="button" (clickEmitter)="onAction(i)">
        </app-button>
      </ng-container>
    </div>
  </div>
</div>
